# Ignore node_modules from both client and server
client/node_modules/
server/node_modules/

# Ignore build outputs
client/dist/
server/dist/

# Ignore environment variables in any folder
**/.env

# OS-specific system files
.DS_Store
Thumbs.db

node_modules/