# Ignore node_modules from both server and client
client/node_modules/
server/node_modules/

# Ignore build outputs
client/dist/
server/dist/

# Ignore environment variables
**/.env

# OS files
.DS_Store
Thumbs.db
